.body {
    background-color: #f5f5f5;
    padding: 20px;

}

.logInForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.nameInput,
.passwordInput {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid gray;
    font-size: 16px;
    width: 300px;
    max-width: 100%;
}

.log, 
.rPass {
    background-color: blue;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    min-width: 200px;
}
.rPass{
    margin-top: 10px;
}
.userTypeDiv,.formsContainer{
    display: flex;
    justify-content: space-around;
}
.buttons-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 200px;
    height: 200px;
    overflow-y: scroll;
}
.actions-container{
    display: flex;
    justify-content: space-around;
    
}

.card-container{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.card{
    margin: 5px;
}

h4{
    display: block;
}

.resultsCont{
    width: 400px;
    height: 200px;
    overflow-y: scroll;
}
.log:hover,
.rPass:hover {
    background-color: darkblue;
}

.createUserForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.userCreate,
.passwordCreate {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid gray;
    font-size: 16px;
    width: 300px;
    max-width: 100%;
}

.createUserForm label {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
}

.userType input {
    display: inline-block;
    margin-right: 5px;
}

.create {
    background-color: green;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.create:hover {
    background-color: darkgreen;
}

.resultData {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

.testAction,.deleteUser,.changePass,.listUsers,.create-org-user {
    background-color: purple;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.testAction:hover {
    background-color: darkpurple;
}

.status {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}